/* Homepage */
.navcolor{
background-color: white  !important;
}

.links{
    margin-left: auto;
}

.navbar-brand{
    margin-left: 20px;
    font-size: 25px;
}
.logo{
    height: 40px;
}
.tagline{
    margin-top: 20px;
    font-size: 35px;
    color: lightgray;
    text-align: center;
    font-weight: lighter;
}
.tagline2{
    margin-top: 20px;
    font-size: 20px;
    color: gray;
    text-align: center;
    font-weight: lighter;
}
.picture{
    position: relative; 
    height:82vh;
}
.showcase_img{
    max-height: 600px;
    overflow: hidden;
    margin-left: 10px;
}
.login{
    height: 82vh;
}
.page-footer{
    position: absolute;
    bottom: 0;
}
.footercol{
    color: white;
    background:#1C2331;
}
.footer-copyright{
   background: #1C2331;
   color: white;
}
.contact{
    display: inline;
    margin-left: 20%;
}
.fontawesome{
    display: inline;
    margin-left: 20%;
}
.icons{
    font-size: 20px;
    color: white;
    overflow: hidden;
}
a.icons{
    color: black;
    overflow: hidden;
    text-decoration: none;
}
.spacing{
    color: white;
}
.dropdown-item{
    color: black !important;
    font-size: 13px !important;
}
.nav-link{
    color: black !important;
    font-size: 17px !important;
    font-family: 'Segoe UI';
}
.login-form{
    margin-left: auto;
}
.logintxt{
    font-size: 20px;
    color: black;
    font-weight: bolder;
    margin-top: 40px;
}
.eid{
    
    border: 1px solid black;
    width: 80%;
}
.pwd{
    border: 1px solid black;
    width: 80%;
}

.regbtn{
    border-radius: 7px;
    width: 120px;
}
.labels{
    margin-bottom: 10px;
    font-weight: bold;
}
/*Homepage*/

/*Login Page*/
.forgot-pass{
    display: block;
    margin-bottom: 7px;
}
/*Login Page*/

/* TextEditor */
#iframeResult{
    height: 100%;
    width: 100%;
}
#iframecontainer{
    margin-top: 137px;
    width: 100%;
    height: 570px;
}
#iframewrapper{
    width: 100%;
    height: 550px;
    border: 2px solid black;
}
#textareaCode{
    background-color: #3C3C3C;
    color: white;
}
/* TextEditor */

/*Userpage*/
#head-createRoom{
    font-weight: bold;
    font-size: 20px;
}
.btn-danger{
    margin-left: 30%;
}
/*Userpage*/